/* Fonts */
@font-face {
    font-family: "Antenna Cond Medium";
    src: url("fonts/antenna-cond-medium.woff");
}

@font-face {
    font-family: "Antenna Cond";
    src: url("fonts/antenna-cond-regular.woff");
}

@font-face {
    font-family: "Antenna Medium";
    src: url("fonts/antenna-medium.woff");
}

@font-face {
    font-family: "Antenna Bold";
    src: url("fonts/bold.woff");
}

@font-face {
    font-family: "Antenna Light";
    src: url("fonts/light.woff");
}

@font-face {
    font-family: "Antenna Regular";
    src: url("fonts/regular.woff");
}

/*Universal */
html {
    font-family: "Antenna Regular";
    font-size: 16px;

}

body { 
    padding-top: 5rem;
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    font-family: "Antenna Light";
    display: flex;
    font-size: 0.5rem;
    height: 5rem;
    width: 100%;
    overflow: hidden;
    align-items: center;
    border-bottom: 2px solid lightgrey;
    background-color: white;
}

.nav .logo {
    text-align: center;
    width: 8rem;
    overflow: hidden;
}

.logo img{
    height: 2rem;
}

.navbar-items{
    display: flex;
    height: 3rem;
    width: 100%;
    align-items: center;
    flex-direction: row;
}

.navbar-right{
    margin-left: auto;

}

.navbar-items ul li{
    display: inline-block;
    list-style-type: none;
    font-size: 1rem;
    padding: 1rem;
}

.navbar-items li:hover{
    color: #1700f4;
    cursor: pointer;
}

/* Main Content */

.electric{
    display: flex;
    width: 100%;
    border: 1px solid #00095b;
}

.electric .button{
    margin-left: 1rem;
}

.mache {
    background-image: url("images/mache.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 18.75rem;
    width: 49.99%;

}

.lightning {
    background-image: url("images/lightning.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 18.75rem;
    width: 49.99%;

}

.carousel {
    display: flex;
    font-size: 1.5rem;
    font-family: "Antenna Regular";
    width: 100%;
    justify-content: center;
    padding-top: 2rem;
}

.carousel-item{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 20px 1px;
    margin: 1rem;
    width: 30%;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-tagline{
    padding-top: 0.5rem;
    padding-left: 0.2rem;
    color: #00095b;
    height: 4rem;
    overflow: hidden;
}

.carousel .button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    align-self: center;
}

/* Footer */

.footer {
    display: flex;
    width: 100%;
    height: 10rem;
}

.footer .logo{
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 7rem;
}

.footer-links {
    width: 65%;
}

.footer-links ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    font-size: 0.6rem;
}

.footer-links ul li{
    flex-direction: row;
    padding: 0.5rem;
}

.footer-links ul li:hover{
    color:#00095b;
    cursor: pointer;
}

/* Buttons */
.button{
    background-color: #00095b;
    color: white;
    width: fit-content;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    align-content: center;
    border-radius: 4rem;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.button:hover{
    background-color: #1700f4;
    transform: scale(1.05);
    transition: 0.125s;
    cursor: pointer;
}

@media only screen and (max-width: 620px){
    .carousel{
        flex-direction: column;
    }
    
    .carousel-item{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2.5rem;
    }

    .navbar-right{
        display: none;
    }

    .footer-links ul {
        display: block;
        padding-top: 2rem;
    }

    .electric .button{
        background-color: transparent;
    }

    .electric .mache{
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    }
    
    .electric .lightning{
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    }

}

@media only screen and (max-width: 766px) and (min-width: 621px){
    .button p {
        display: none;
    }

    .carousel-tagline {
        height: 8rem;
    }

    .button{
        background-image: url("images/info-icon-6.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: white;
    }

    .button:hover {
        background-color:blanchedalmond;
    }

    .navbar-right{
        display: none;
    }

    .footer-links ul {
        display: block;
        padding-top: 2rem;
    }
} 

